.filter {
	display: flex;
	flex-wrap: wrap;

	&__item {
		margin-bottom: 20px;
		overflow: hidden;
		position: relative;
		cursor: pointer;

		@include mMax {
			margin-bottom: 0;
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			height: 4px;
			background-color: $orange;
			position: absolute;
			bottom: 0;
			left: 0;
			@include transition(width);

			@include mMax {
				display: none;
			}
		}

		@include hover {
			&::after {
				width: 100%;
			}

			span {
				transform: translateX(100%);

				&::before {
					transform: translate(0, -50%);
				}
			}
		}

		span {
			display: inline-block;
			padding: 13px 0;
			font-size: 20px;
			position: relative;
			@include transition(transform);

			@include mMax {
				font-size: 14px;
			}

			&::before {
				content: attr(aria-label);
				position: absolute;
				top: 50%;
				left: -100%;
				transform: translateY(-50%);
				@include transition(transform);

				@include mMax {
					display: none;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 50px;

			@include tMax {
				margin-right: 30px;
			}

			@include mMax {
				margin-right: 0;
			}
		}
	}
}