// Fonts
$mainFont: 'Namu', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$mainColor: #1e252b;
$gray: #6d7381;
$gray-ec: #ececec;
$gray-d2: #d2d2d2;
$orange: #ffb400;
$red: #ea5c47;
$yellow: #ffde31;
$purple: #c6afd5;
$blue: #7da8da;
$green: #b9d26a;
