.partners {
	overflow: hidden;

	&__container {
		padding-top: 75px;
		padding-bottom: 120px;
		position: relative;

		@include dMin {
			opacity: 0;
		}

		@include dMax {
			padding-top: 50px;
		}

		@include tMax {
			padding-top: 25px;
			padding-bottom: 89px;
		}

		@include mMax {
			padding-top: 9px;
			padding-bottom: 15px;
		}
	}

	&__block {
		width: 47.4%;
		margin-top: 91px;
		padding: 48px 50px 47px 48px;
		box-sizing: border-box;
		position: relative;

		@include dMax {
			margin-top: 80px;
			padding: 38px 70px 36px 48px;
		}

		@include tMax {
			width: 64.7%;
			margin-top: 98px;
			padding: 28px 70px 28px 27px;
		}

		@include mMax {
			width: 100%;
			margin-top: 0;
			padding: 18px 14px 43px 18px;
		}

		.left-2,
		.top-2,
		.right-2,
		.bottom-2 {
			position: absolute;
			background: none transparent;
			width: 0;
			height: 0;

			@include tMax {
				background: #7da8da;
			}
		}

		.left-2 {
			left: 0;
			bottom: 0;
			height: 100%;
			width: 2px;
		}

		.top-2 {
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
		}

		.right-2 {
			right: 0;
			top: 0;
			height: 100%;
			width: 2px;
		}

		.bottom-2 {
			bottom: 0;
			right: 0;
			width: 100%;
			height: 2px;
		}
	}

	&__btn {
		margin-top: 30px;

		@include tMax {
			margin-top: 19px;
		}

		@include mMax {
			margin-top: 15px;
		}
	}

	&__grid {
		width: 55.4%;
		margin: 0 -10px;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 75px;
		right: 15px;

		@include dMax {
			margin: 0 -8.5px;
			top: 58px;
		}

		@include tMax {
			max-height: 462px;
			max-width: 360px;
			width: 100%;
			top: 30px;
			right: -7px;
			overflow: hidden;
		}

		@include mMax {
			justify-content: space-between;
			max-height: 100%;
			max-width: calc(100% + 47px);
			width: calc(100% + 47px);
			position: relative;
			top: -24px;
			margin: 0 -33px;
		}
	}

	&__item {
		width: 124px;
		height: 124px;
		margin: 0 10px 20px;
		background-size: cover;
		background-position: center center;

		@include dMax {
			width: 103px;
			height: 103px;
			margin: 0 8.5px 17px;
		}

		@include mMax {
			width: calc(16.6666% - 7.5px);
			height: auto;
			padding-top: 16%;
			margin: 0 3.75px 14px;
		}
	}

	&__title {
		margin: 0;

		.title__text {
			@include tMax {
				font-size: 28px;
				line-height: 34px;
			}

			@include mMax {
				font-size: 20px;
				line-height: 24px;
				text-align: left;
			}
		}

		.title__subtitle {
			@include dMax {
				font-size: 16px;
				line-height: 130%;
			}

			@include tMax {
				font-size: 14px;
				line-height: 130%;
			}

			@include mMax {
				font-size: 12px;
				line-height: 130%;
				text-align: left;
			}
		}
	}
}