.services-card {
	padding: 28px 30px 51px 28px;
	border: 2px solid $orange;
	box-sizing: border-box;

	&__title {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 20px;
		line-height: 24px;
		color: $gray;
	}
}