extends templates/default

block vars
	-
		const page = {
		title: 'index.html'
		};
	- let modClass = 'green';

block main
	section.first-screen
		.container.first-screen__container
			.first-screen__img
				img(src='img/clock.png', alt='')
			.first-screen__anim
				.first-screen__title.first-screen__title--wide Вывески и реклама
				.first-screen__subtitle.first-screen__subtitle--wide В нашей компании – дизайнеры, технологи, монтажники, электрики, благодаря отлаженному процессу и богатому опыту наших специалистов мы реализуем любые ваши идеи в жизнь. Мы учитываем пожелания каждого клиента и создаем качественные изделия по доступной цене!
				.first-screen__btn-wrapper
					+button('Связаться со мной', 'button--green first-screen__btn anchor', '#feedback')
				.first-screen__anchor.first-screen__anchor--bottom
					a.anchor(href='#portfolio')
						svg(width='346' height='346' viewBox='0 0 346 346' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M172.999 345.199C133.273 345.175 94.7756 331.418 64.0298 306.26C33.2839 281.103 12.1796 246.09 4.29181 207.154C-3.59595 168.218 2.21783 127.753 20.7483 92.6126C39.2788 57.4722 69.3866 29.8176 105.972 14.3335C148.032 -3.32999 195.382 -3.58656 237.631 13.62C279.88 30.8266 313.578 64.0909 331.331 106.114C349.083 148.137 349.44 195.486 332.323 237.772C315.206 280.057 282.013 313.826 240.027 331.667C218.823 340.641 196.025 345.244 172.999 345.199Z' fill='white')
							path(d='M173 1.60185C212.548 1.61957 250.873 15.3092 281.482 40.351C312.091 65.3929 333.102 100.247 340.953 139.007C348.805 177.768 343.015 218.051 324.564 253.03C306.114 288.01 276.137 315.536 239.714 330.943C218.973 339.704 196.709 344.293 174.194 344.45C151.678 344.607 129.353 340.328 108.492 331.856C66.3603 314.747 32.751 281.603 15.0574 239.714C-2.63623 197.825 -2.96484 150.623 14.1439 108.492C31.2525 66.3603 64.3971 32.751 106.286 15.0574C127.392 6.12879 150.083 1.55221 173 1.60185ZM173 0C77.4559 0 0 77.4559 0 173C0 268.544 77.4559 346 173 346C268.544 346 346 268.544 346 173C346 77.4559 268.544 0 173 0Z' fill='#1E252B')
							path(d='M173.001 336.869C135.195 336.847 98.5602 323.756 69.3012 299.815C40.0422 275.875 19.9584 242.556 12.4521 205.503C4.94581 168.45 10.4785 129.942 28.113 96.5015C45.7474 63.0609 74.3994 36.7442 109.215 22.0095C149.245 5.17924 194.317 4.92083 234.536 21.291C274.756 37.6611 306.837 69.3219 323.735 109.323C340.633 149.323 340.968 194.395 324.667 234.643C308.365 274.89 276.759 307.024 236.787 323.991C216.608 332.532 194.913 336.913 173.001 336.869Z' fill='white')
							path(d='M173 9.93144C210.621 9.9543 247.077 22.9811 276.193 46.805C305.309 70.629 325.295 103.785 332.764 140.657C340.234 177.529 334.728 215.849 317.179 249.126C299.63 282.403 271.118 308.591 236.472 323.254C196.639 339.997 151.79 340.251 111.769 323.959C71.7491 307.668 39.8284 276.162 23.0142 236.359C6.19996 196.555 5.86633 151.707 22.0865 111.657C38.3067 71.6081 69.7552 39.6313 109.529 22.7463C129.608 14.2475 151.196 9.88892 173 9.93144ZM173 8.32959C82.0569 8.32959 8.33008 82.0564 8.33008 173C8.33008 263.943 82.0569 337.67 173 337.67C263.944 337.67 337.671 263.943 337.671 173C337.671 82.0564 263.944 8.32959 173 8.32959Z' fill='#1E252B')
							path(d='M172.818 279.823C231.915 279.823 279.822 231.915 279.822 172.819C279.822 113.722 231.915 65.8152 172.818 65.8152C113.722 65.8152 65.8145 113.722 65.8145 172.819C65.8145 231.915 113.722 279.823 172.818 279.823Z' fill='#ECECEC' stroke='#1E252B' stroke-miterlimit='10')
							g.anchor-rotate
								ellipse(cx='44.3065' cy='175.352' rx='6.77333' ry='6.77332' fill='#1E252B')
								ellipse(cx='303.95' cy='175.352' rx='6.77332' ry='6.77332' fill='#1E252B')
								path(d='M60.2415 120.397L58.8414 123.888L37.7584 115.432L32.1582 129.394L53.2412 137.85L51.8411 141.341L27.4072 131.54L35.8076 110.597L60.2415 120.397Z' fill='#1E252B')
								path(d='M71.8697 100.823C70.7511 102.303 69.3907 103.397 67.7885 104.103C66.1662 104.794 64.5005 105.044 62.7913 104.852C61.062 104.645 59.4773 103.997 58.037 102.909C56.5968 101.821 55.5512 100.48 54.9001 98.8885C54.2289 97.2814 54.0144 95.6108 54.2564 93.8767C54.4784 92.1274 55.1487 90.5127 56.2673 89.0324C57.3708 87.5722 58.7261 86.5065 60.3332 85.8354C61.9354 85.1292 63.6011 84.8795 65.3304 85.0864C67.0397 85.2782 68.6144 85.9183 70.0546 87.0066C71.4948 88.095 72.5505 89.4428 73.2216 91.0499C73.8727 92.6418 74.0873 94.3125 73.8653 96.0617C73.6384 97.7759 72.9732 99.363 71.8697 100.823ZM69.2293 98.8279C69.9246 97.9078 70.3395 96.9013 70.4739 95.8087C70.5882 94.7009 70.4216 93.6322 69.9741 92.6026C69.5065 91.5578 68.7926 90.6727 67.8325 89.9471C66.8724 89.2215 65.8359 88.784 64.7233 88.6345C63.5906 88.4699 62.517 88.6014 61.5025 89.0289C60.468 89.4414 59.6031 90.1077 58.9077 91.0278C58.1972 91.9679 57.7773 93.0019 57.6478 94.1297C57.5134 95.2224 57.68 96.2911 58.1476 97.3358C58.5952 98.3654 59.299 99.243 60.2592 99.9686C61.2193 100.694 62.2657 101.139 63.3984 101.304C64.5111 101.453 65.5847 101.322 66.6192 100.909C67.6488 100.462 68.5188 99.768 69.2293 98.8279Z' fill='#1E252B')
								path(d='M83.9658 73.2852L83.5158 76.903L87.5289 81.6854L84.8496 83.9337L72.7621 69.5289L75.4414 67.2807L80.8566 73.734L82.2116 61.5995L85.8416 58.5535L84.4157 69.6673L98.5341 72.4505L94.8753 75.5208L83.9658 73.2852Z' fill='#1E252B')
								path(d='M105.556 45.2992C107.028 44.5431 108.561 44.2349 110.154 44.3746C111.737 44.4919 113.212 45.031 114.579 45.9917C115.946 46.9524 117.059 48.2691 117.919 49.9417C118.778 51.6144 119.2 53.2862 119.184 54.9572C119.169 56.6282 118.753 58.1521 117.939 59.529C117.112 60.8836 115.963 61.9389 114.491 62.695C113.376 63.2678 112.202 63.5609 110.969 63.5743C109.724 63.5654 108.527 63.2925 107.377 62.7555L111.587 70.9516L108.409 72.5841L96.8959 50.1702L99.9067 48.6237L101.299 51.3334C101.52 50.0078 101.994 48.8197 102.723 47.7689C103.452 46.7181 104.396 45.8949 105.556 45.2992ZM112.444 60.026C113.425 59.522 114.18 58.8241 114.709 57.9325C115.237 57.0409 115.501 56.0457 115.5 54.9468C115.488 53.8256 115.201 52.7186 114.64 51.6257C114.079 50.5329 113.352 49.6662 112.459 49.0255C111.555 48.3625 110.586 47.9862 109.554 47.8965C108.521 47.8068 107.514 48.014 106.533 48.518C105.551 49.0221 104.785 49.7257 104.234 50.6287C103.684 51.5318 103.414 52.5439 103.426 53.6651C103.427 54.764 103.708 55.8599 104.27 56.9527C104.831 58.0455 105.564 58.9234 106.468 59.5864C107.361 60.2271 108.335 60.5865 109.39 60.6648C110.444 60.743 111.463 60.5301 112.444 60.026Z' fill='#1E252B')
								path(d='M145.486 31.1516L140.719 58.2373L136.954 59.1507L138.254 51.908L124.982 36.1267L129.112 35.1246L139.186 47.7732L141.648 32.0828L145.486 31.1516Z' fill='#1E252B')
								path(d='M174.286 31.741L167.707 31.9441L168.183 47.3564L164.612 47.4667L164.136 32.0544L157.558 32.2576L157.453 28.8745L174.181 28.3578L174.286 31.741Z' fill='#1E252B')
								path(d='M187.35 28.4744L190.864 29.117L188.348 42.8793L200.483 30.8755L204.368 31.5857L200.986 50.0834L197.471 49.4409L199.987 35.6786L187.852 47.6824L183.968 46.9722L187.35 28.4744Z' fill='#1E252B')
								path(d='M241.876 56.0384C243.02 57.7683 243.111 59.4697 242.147 61.1426C241.372 62.4897 240.245 63.3162 238.766 63.6222C237.301 63.9064 235.71 63.5543 233.993 62.5658L225.813 57.8546L235.198 41.5595L243.378 46.2707C245.008 47.2092 246.045 48.3712 246.492 49.7566C246.972 51.1328 246.843 52.4618 246.105 53.7437C245.667 54.5041 245.082 55.093 244.35 55.5104C243.652 55.9185 242.827 56.0945 241.876 56.0384ZM239.115 52.843C239.919 53.306 240.634 53.4717 241.26 53.3401C241.885 53.2085 242.404 52.7842 242.817 52.0672C243.581 50.7419 243.147 49.61 241.518 48.6715L236.727 45.9123L234.325 50.0838L239.115 52.843ZM235.169 59.7709C236.038 60.2714 236.796 60.4621 237.443 60.343C238.125 60.2147 238.672 59.7921 239.085 59.0751C239.473 58.4016 239.539 57.7596 239.283 57.1492C239.061 56.5296 238.516 55.9695 237.646 55.469L232.823 52.6911L230.346 56.9929L235.169 59.7709Z' fill='#1E252B')
								path(d='M274.094 69.0397L261.34 82.8571L258.714 80.4337L263.944 74.7686L256.759 68.1361L251.529 73.8013L248.904 71.3779L261.659 57.5605L264.284 59.9839L259.054 65.649L266.24 72.2815L271.469 66.6163L274.094 69.0397Z' fill='#1E252B')
								path(d='M285.892 81.149L287.887 84.1131L276.28 91.9238L293.346 92.2256L295.551 95.5018L279.95 106L277.955 103.036L289.562 95.2252L272.496 94.9234L270.291 91.6472L285.892 81.149Z' fill='#1E252B')
								path(d='M292.343 115.772C291.435 116.479 290.896 117.336 290.727 118.346C290.566 119.378 290.752 120.571 291.283 121.925C291.777 123.185 292.397 124.114 293.143 124.71C293.912 125.297 294.659 125.448 295.382 125.164C296.012 124.917 296.439 124.426 296.663 123.692C296.91 122.949 296.768 121.9 296.236 120.547L295.041 117.501L297.912 116.374L299.052 119.28C299.529 120.494 300.089 121.27 300.734 121.61C301.388 121.973 302.03 122.03 302.66 121.783C303.454 121.472 303.942 120.863 304.125 119.956C304.317 119.072 304.17 118.012 303.685 116.775C303.218 115.585 302.607 114.68 301.852 114.06C301.106 113.464 300.209 113.237 299.161 113.379L297.869 110.088C299.739 109.705 301.448 110.044 302.996 111.107C304.567 112.16 305.742 113.679 306.521 115.662C307.382 117.856 307.599 119.818 307.174 121.547C306.771 123.267 305.8 124.429 304.259 125.034C303.489 125.336 302.683 125.41 301.842 125.256C301.023 125.092 300.251 124.668 299.524 123.983C299.514 126.223 298.576 127.709 296.709 128.442C295.098 129.074 293.528 128.882 291.998 127.866C290.478 126.874 289.25 125.187 288.316 122.807C287.473 120.659 287.284 118.633 287.748 116.727C288.212 114.821 289.309 113.394 291.038 112.446L292.343 115.772Z' fill='#1E252B')
								path(d='M285.758 224.664L287.158 221.173L308.241 229.629L313.841 215.667L292.758 207.211L294.158 203.72L318.592 213.521L310.192 234.464L285.758 224.664Z' fill='#1E252B')
								path(d='M274.129 244.238C275.248 242.758 276.608 241.664 278.211 240.958C279.833 240.267 281.499 240.017 283.208 240.209C284.937 240.416 286.522 241.064 287.962 242.152C289.402 243.24 290.448 244.581 291.099 246.173C291.77 247.78 291.985 249.45 291.743 251.184C291.521 252.934 290.85 254.548 289.732 256.029C288.628 257.489 287.273 258.554 285.666 259.226C284.064 259.932 282.398 260.181 280.669 259.975C278.959 259.783 277.385 259.143 275.945 258.054C274.504 256.966 273.449 255.618 272.778 254.011C272.126 252.419 271.912 250.749 272.134 248.999C272.361 247.285 273.026 245.698 274.129 244.238ZM276.77 246.233C276.075 247.153 275.66 248.16 275.525 249.252C275.411 250.36 275.578 251.429 276.025 252.458C276.493 253.503 277.206 254.388 278.167 255.114C279.127 255.84 280.163 256.277 281.276 256.427C282.409 256.591 283.482 256.46 284.497 256.032C285.531 255.62 286.396 254.953 287.091 254.033C287.802 253.093 288.222 252.059 288.351 250.931C288.486 249.839 288.319 248.77 287.852 247.725C287.404 246.696 286.7 245.818 285.74 245.092C284.78 244.367 283.733 243.922 282.601 243.757C281.488 243.608 280.414 243.739 279.38 244.152C278.35 244.599 277.48 245.293 276.77 246.233Z' fill='#1E252B')
								path(d='M262.033 271.776L262.483 268.158L258.47 263.376L261.15 261.127L273.237 275.532L270.558 277.78L265.143 271.327L263.788 283.462L260.158 286.508L261.583 275.394L247.465 272.611L251.124 269.54L262.033 271.776Z' fill='#1E252B')
								path(d='M240.443 299.762C238.971 300.518 237.439 300.826 235.845 300.686C234.262 300.569 232.788 300.03 231.42 299.069C230.053 298.109 228.94 296.792 228.081 295.119C227.221 293.447 226.8 291.775 226.815 290.104C226.831 288.433 227.246 286.909 228.061 285.532C228.887 284.177 230.036 283.122 231.508 282.366C232.623 281.793 233.797 281.5 235.031 281.487C236.275 281.496 237.473 281.769 238.622 282.306L234.412 274.109L237.59 272.477L249.103 294.891L246.092 296.437L244.701 293.728C244.48 295.053 244.005 296.241 243.276 297.292C242.547 298.343 241.603 299.166 240.443 299.762ZM233.555 285.035C232.574 285.539 231.819 286.237 231.291 287.129C230.762 288.02 230.498 289.015 230.499 290.114C230.511 291.235 230.798 292.342 231.359 293.435C231.92 294.528 232.647 295.395 233.54 296.036C234.445 296.699 235.413 297.075 236.446 297.165C237.478 297.254 238.485 297.047 239.467 296.543C240.448 296.039 241.214 295.335 241.765 294.432C242.316 293.529 242.585 292.517 242.573 291.396C242.572 290.297 242.291 289.201 241.73 288.108C241.168 287.016 240.435 286.138 239.531 285.475C238.638 284.834 237.665 284.475 236.61 284.396C235.555 284.318 234.537 284.531 233.555 285.035Z' fill='#1E252B')
								path(d='M200.514 313.909L205.28 286.824L209.045 285.91L207.745 293.153L221.017 308.934L216.887 309.936L206.813 297.288L204.351 312.978L200.514 313.909Z' fill='#1E252B')
								path(d='M171.714 313.32L178.292 313.117L177.816 297.705L181.387 297.594L181.863 313.007L188.441 312.803L188.546 316.187L171.818 316.703L171.714 313.32Z' fill='#1E252B')
								path(d='M158.649 316.587L155.135 315.944L157.651 302.182L145.516 314.186L141.631 313.475L145.013 294.978L148.528 295.62L146.012 309.382L158.147 297.379L162.031 298.089L158.649 316.587Z' fill='#1E252B')
								path(d='M104.124 289.023C102.979 287.293 102.888 285.591 103.852 283.918C104.628 282.571 105.755 281.745 107.233 281.439C108.698 281.155 110.29 281.507 112.006 282.495L120.186 287.206L110.801 303.502L102.621 298.79C100.992 297.852 99.9537 296.69 99.5075 295.304C99.027 293.928 99.1559 292.599 99.8942 291.317C100.332 290.557 100.917 289.968 101.649 289.551C102.347 289.143 103.172 288.967 104.124 289.023ZM106.884 292.218C106.08 291.755 105.365 291.589 104.74 291.721C104.114 291.853 103.595 292.277 103.182 292.994C102.419 294.319 102.852 295.451 104.481 296.39L109.272 299.149L111.674 294.977L106.884 292.218ZM110.83 285.29C109.961 284.79 109.203 284.599 108.556 284.718C107.874 284.846 107.327 285.269 106.914 285.986C106.526 286.659 106.46 287.301 106.716 287.912C106.938 288.531 107.484 289.092 108.353 289.592L113.176 292.37L115.654 288.068L110.83 285.29Z' fill='#1E252B')
								path(d='M71.9049 276.021L84.6596 262.204L87.2849 264.627L82.0555 270.292L89.2405 276.925L94.47 271.26L97.0953 273.683L84.3405 287.501L81.7152 285.077L86.9447 279.412L79.7596 272.78L74.5302 278.445L71.9049 276.021Z' fill='#1E252B')
								path(d='M60.1069 263.912L58.1123 260.948L69.7194 253.137L52.6532 252.835L50.4486 249.559L66.0495 239.061L68.0442 242.025L56.4371 249.836L73.5033 250.138L75.7079 253.414L60.1069 263.912Z' fill='#1E252B')
								path(d='M53.6565 229.289C54.5644 228.582 55.1031 227.725 55.2726 226.715C55.433 225.683 55.2476 224.49 54.7164 223.136C54.2218 221.876 53.6016 220.947 52.8559 220.351C52.0869 219.764 51.3406 219.613 50.6171 219.897C49.9869 220.144 49.56 220.635 49.3364 221.369C49.0894 222.112 49.2315 223.161 49.7628 224.514L50.958 227.56L48.0873 228.687L46.9469 225.781C46.4707 224.567 45.91 223.791 45.2651 223.451C44.611 223.089 43.9688 223.031 43.3387 223.278C42.5451 223.589 42.0569 224.199 41.8741 225.105C41.682 225.989 41.8288 227.049 42.3142 228.286C42.7813 229.476 43.3923 230.381 44.1472 231.001C44.8929 231.597 45.79 231.824 46.8385 231.682L48.1299 234.973C46.2604 235.356 44.5516 235.017 43.0034 233.954C41.432 232.901 40.257 231.383 39.4784 229.399C38.6175 227.205 38.3998 225.243 38.8255 223.514C39.2279 221.794 40.1993 220.632 41.7397 220.027C42.5099 219.725 43.3158 219.651 44.1576 219.805C44.9759 219.969 45.7484 220.393 46.4749 221.078C46.4849 218.838 47.4235 217.352 49.2906 216.619C50.9011 215.987 52.4712 216.179 54.001 217.195C55.5217 218.187 56.7491 219.874 57.6833 222.255C58.526 224.402 58.7153 226.428 58.2512 228.334C57.7871 230.24 56.6906 231.667 54.9617 232.615L53.6565 229.289Z' fill='#1E252B')
							g.arm(clip-path='url(#clip0)')
								path(d='M191.91 212.153L191.91 184.607L200.979 175.576C206.099 170.456 206.549 162.332 202.026 156.678L188.175 139.365C190.446 137.834 191.942 135.239 191.942 132.301L191.942 126.625C191.942 125.057 190.671 123.787 189.104 123.787L143.696 123.787C142.129 123.787 140.858 125.057 140.858 126.625L140.858 132.301C140.858 135.63 142.78 138.518 145.572 139.917C142.444 148.409 140.858 157.299 140.858 166.377C140.858 167.577 140.858 176.508 140.858 177.709C140.858 182.403 144.677 186.223 149.372 186.223C150.48 186.223 151.538 186.008 152.51 185.621C153.495 189.234 156.803 191.899 160.724 191.899C161.832 191.899 162.89 191.684 163.862 191.297C164.846 194.91 168.155 197.575 172.076 197.575C173.073 197.575 174.03 197.401 174.92 197.084L174.92 212.153C174.92 216.847 178.74 220.667 183.434 220.667L183.453 220.667C188.137 220.667 191.91 216.847 191.91 212.153ZM149.372 135.139C147.807 135.139 146.534 133.866 146.534 132.301L146.534 129.463L186.266 129.463L186.266 132.301C186.266 133.866 184.993 135.139 183.428 135.139L149.372 135.139ZM183.434 214.991C181.87 214.991 180.558 213.718 180.558 212.153L180.558 177.737C180.558 176.17 179.326 174.899 177.758 174.899C176.191 174.899 174.92 176.17 174.92 177.737L174.92 188.936C174.918 188.978 174.914 189.019 174.914 189.061C174.914 190.625 173.641 191.899 172.076 191.899C170.511 191.899 169.238 190.626 169.238 189.061L169.238 177.709C169.238 176.141 167.967 174.871 166.4 174.871C164.832 174.871 163.562 176.141 163.562 177.709L163.562 183.385C163.562 184.949 162.288 186.223 160.723 186.223C159.158 186.223 157.885 184.95 157.885 183.385L157.885 177.709C157.885 176.141 156.615 174.871 155.047 174.871C153.48 174.871 152.209 176.141 152.209 177.709C152.209 179.274 150.936 180.547 149.371 180.547C147.806 180.547 146.533 179.274 146.533 177.709C146.533 176.507 146.533 167.577 146.533 166.377C146.533 157.593 148.135 148.998 151.298 140.815L182.067 140.815L197.594 160.224C200.308 163.616 200.038 168.49 196.966 171.563L191.91 176.58C191.91 166.994 191.923 176.505 191.923 166.356C191.923 164.789 190.652 163.518 189.085 163.518C187.518 163.518 186.285 164.789 186.285 166.356C186.285 166.979 186.272 211.529 186.272 212.152C186.272 213.717 185.007 214.99 183.453 214.99L183.434 214.991Z' fill='#1E252B')
							defs
								clippath#clip0
									rect(width='96.88' height='96.88' fill='white' transform='translate(221.44 123.787) rotate(90)')
				a.first-screen__mobile-anchor.anchor(href='#portfolio')
					span Покрути вниз
					+icon('anchor-mobile')(width='14', height='20')

	section#portfolio.portfolio
		.container.portfolio__container
			h2.title__text.title__text--dot Продукция
			.title__subtitle Но явные признаки победы институционализации представляют собой не что иное, как
			+filter([{filter: '.category-1', text: 'Категория №1'},
				{filter: '.category-2', text: 'Категория №2'},
				{filter: '.category-3', text: 'Категория №3'},
				{filter: '.category-4', text: 'Категория №4'}], 'portfolio__filter')
		.portfolio__masonry
			.portfolio__masonry-item.category-2
				img(src='img/portfolio/item-1.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-1.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-3
				img(src='img/portfolio/item-2.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-2.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-1
				img(src='img/portfolio/item-3.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-3.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-3
				img(src='img/portfolio/item-5.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-4.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-2
				img(src='img/portfolio/item-4.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-5.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-3
				img(src='img/portfolio/item-6.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-6.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-4
				img(src='img/portfolio/item-7.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-7.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-3
				img(src='img/portfolio/item-8.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-8.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-2
				img(src='img/portfolio/item-9.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-9.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-2
				img(src='img/portfolio/item-11.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-10.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-1
				img(src='img/portfolio/item-10.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-11.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')
			.portfolio__masonry-item.category-3
				img(src='img/portfolio/item-12.jpg', alt='')
				.portfolio__hover
					.portfolio__caption
					.portfolio__nav
						a.portfolio__zoom(href='img/portfolio/item-12.jpg', data-fancybox='gallery')
							+icon('zoom')
						+button('Хочу так же', 'button--green portfolio__btn anchor', '#feedback')

	section.partners.trigger
		.container.partners__container
			.partners__block(data-color='#7da8da')
				span.left-2
				span.top-2
				span.right-2
				span.bottom-2
				.partners__anim
					+title('С нами работают', 'Но явные признаки победы институционализации представляют собой не что иное, как квинтэссенцию ' +
					'победы маркетинга над разумом и должны быть заблокированы в рамках своих собственных рациональных ограничений.', 'partners__title')
					+button('Связаться со мной', 'button--green partners__btn anchor', '#feedback')
			.partners__grid
				.partners__item(style='background-image: url("img/partners/item-1.jpg")')
				.partners__item(style='background-color: #ffb400')
				.partners__item(style='background-image: url("img/partners/item-2.jpg")')
				.partners__item(style='background-color: #ea5c47')
				.partners__item(style='background-image: url("img/partners/item-3.jpg")')
				.partners__item(style='background-color: #ffde31')
				.partners__item(style='background-color: #c6afd5')
				.partners__item(style='background-image: url("img/partners/item-4.jpg")')
				.partners__item(style='background-color: #7da8da')
				.partners__item(style='background-image: url("img/partners/item-5.jpg")')
				.partners__item(style='background-color: #b9d26a')
				.partners__item(style='background-image: url("img/partners/item-6.jpg")')
				.partners__item(style='background-image: url("img/partners/item-7.jpg")')
				.partners__item(style='background-color: #ffb400')
				.partners__item(style='background-image: url("img/partners/item-8.jpg")')
				.partners__item(style='background-color: #ea5c47')
				.partners__item(style='background-image: url("img/partners/item-9.jpg")')
				.partners__item(style='background-color: #ffde31')
				.partners__item(style='background-color: #c6afd5')
				.partners__item(style='background-image: url("img/partners/item-10.jpg")')
				.partners__item(style='background-color: #7da8da')
				.partners__item(style='background-image: url("img/partners/item-11.jpg")')
				.partners__item(style='background-color: #b9d26a')
				.partners__item(style='background-image: url("img/partners/item-12.jpg")')

	section#feedback.feedback
		.container.feedback__container
			.feedback__row
				.feedback__left
					+title('Готовы обсудить проект?', 'Но явные признаки победы институционализации представляют собой не что иное, как ', 'feedback__title')
					.feedback__address г. Ростов-на-Дону, пер. Островского, 47, оф.48
					.feedback__email
						a(href='mailto:laserstudio@bk.ru') laserstudio@bk.ru
					.feedback__phone
						a(href='tel:+78622260401') +7 862 226 04 01
					+socials([{href: "#", icon: "socials--wa"},
						{href: "#", icon: "socials--vk"},
						{href: "#", icon: "socials--instagram"},
						{href: "#", icon: "socials--fb"}])
				.feedback__right
					form.form.js-form-validate(action="php/mail.php", method="post")
						.form__row
							label.form__field.field
								input(type='text', name='name', placeholder='Как вас зовут?', required)
								span.field__hint Как вас зовут?
								.underline
								.field-error(style='display: none')
							label.form__field.field
								input(type='text', name='phone', placeholder='Телефон', required)
								span.field__hint Телефон
								.underline
								.field-error(style='display: none')
						label.form__field.form__field--textarea.field
							textarea(name='description', placeholder='Описание задачи (Не обязательно)')
							span.field__hint Описание задачи (Не обязательно)
							.underline
							.field-error(style='display: none')
						+button('Связаться со мной', 'button--green form__btn')(type='submit')
