section.directions
	.container.directions__container
		+title('Направления', 'Но явные признаки победы институционализации представляют собой не что иное, как')
		.directions__wrapper
			.directions__item(data-color='#7da8da', data-text='бизнес сувениры')
				+icon('sign--sign-1')
			.directions__item(data-color='#ffb400', data-text='вывески и реклама')
				+icon('sign--sign-2')
			.directions__item(data-color='#ea5c47', data-text='макетная мастерская')
				+icon('sign--sign-3')
			.directions__item(data-color='#c6afd5', data-text='декорации и фотозоны')
				+icon('sign--sign-4')
			.directions__item(data-color='#b9d26a', data-text='horeca')
				+icon('sign--sign-5')
		.directions__text ВЫБЕРИТЕ НАПРАВЛЕНИЕ
