section#directions.directions
	.container.directions__container
		+title('Направления', 'Но явные признаки победы институционализации представляют собой не что иное, как')
		.directions__wrapper
			a.directions__item(data-color='#7da8da', data-text='бизнес сувениры', href='/Lasergraph/build/souvenirs.html')
				+icon('sign--sign-1')
			a.directions__item(data-color='#ffb400', data-text='вывески и реклама', href='/Lasergraph/build/signboards.html')
				+icon('sign--sign-2')
			a.directions__item(data-color='#ea5c47', data-text='макетная мастерская', href='/Lasergraph/build/workshop.html')
				+icon('sign--sign-3')
			a.directions__item(data-color='#c6afd5', data-text='декорации и фотозоны', href='/Lasergraph/build/scenery.html')
				+icon('sign--sign-4')
			a.directions__item(data-color='#b9d26a', data-text='horeca', href='/Lasergraph/build/horeca.html')
				+icon('sign--sign-5')
		.directions__text ВЫБЕРИТЕ НАПРАВЛЕНИЕ
