section.first-screen
	.container.first-screen__container
		.first-screen__img
			img(src='img/clock.png', alt='')
		.first-screen__title Производство ваших идей
		.first-screen__subtitle Воплощаем проекты. От дизайна до готовой продукции с доставкой
		.first-screen__btn-wrapper
			+button('Связаться со мной', 'button--orange first-screen__btn', '#')
		.first-screen__achievement
			+icon('star')(width='38', height='38')
			span Уже 100 компаний успели поработать с нами!
		.first-screen__anchor
			a(href='#')
				+icon('anchor')(width='150', height='150')