form.form(action='', method='POST')
	.form__row
		label.form__field.field
			input(type='text', name='name', placeholder='Как вас зовут?', required)
			span.field__hint Как вас зовут?
			.underline
		.field-error(style='display: none')
		label.form__field.field
			input(type='text', name='phone', placeholder='Телефон', required)
			span.field__hint Телефон
			.underline
		.field-error(style='display: none')
	label.form__field.form__field--textarea.field
		textarea(name='description', placeholder='Описание задачи (Не обязательно)')
		span.field__hint Описание задачи (Не обязательно)
		.underline
	.field-error(style='display: none')
	+button('Связаться со мной', 'button--orange form__btn')(type='submit')