.header
	.container.header__container
		.header__row
			.header__burger
				span
			a.header__logo(href='/Lasergraph/build/index.html')
				+icon('logo')(width='200', height='21')
			include menu.pug

