ul.menu
	li
		a(href='#', aria-label='Направления') Направления
	li
		a(href='#', aria-label='Услуги') Услуги
	li
		a(href='#', aria-label='Портфолио') Портфолио
	li
		a(href='#', aria-label='Наши клиенты') Наши клиенты
	li
		a(href='#', aria-label='Контакты') Контакты
