section.partners
	.container.partners__container
		.partners__block
			+title('С нами работают', 'Но явные признаки победы институционализации представляют собой не что иное, как квинтэссенцию ' +
			'победы маркетинга над разумом и должны быть заблокированы в рамках своих собственных рациональных ограничений.', 'partners__title')
			+button('Связаться со мной', 'button--orange partners__btn', '#')
		.partners__grid
			.partners__item(style='background-image: url("img/partners/item-1.jpg")')
			.partners__item(style='background-color: #ffb400')
			.partners__item(style='background-image: url("img/partners/item-2.jpg")')
			.partners__item(style='background-color: #ea5c47')
			.partners__item(style='background-image: url("img/partners/item-3.jpg")')
			.partners__item(style='background-color: #ffde31')
			.partners__item(style='background-color: #c6afd5')
			.partners__item(style='background-image: url("img/partners/item-4.jpg")')
			.partners__item(style='background-color: #7da8da')
			.partners__item(style='background-image: url("img/partners/item-5.jpg")')
			.partners__item(style='background-color: #b9d26a')
			.partners__item(style='background-image: url("img/partners/item-6.jpg")')
			.partners__item(style='background-image: url("img/partners/item-7.jpg")')
			.partners__item(style='background-color: #ffb400')
			.partners__item(style='background-image: url("img/partners/item-8.jpg")')
			.partners__item(style='background-color: #ea5c47')
			.partners__item(style='background-image: url("img/partners/item-9.jpg")')
			.partners__item(style='background-color: #ffde31')
			.partners__item(style='background-color: #c6afd5')
			.partners__item(style='background-image: url("img/partners/item-10.jpg")')
			.partners__item(style='background-color: #7da8da')
			.partners__item(style='background-image: url("img/partners/item-11.jpg")')
			.partners__item(style='background-color: #b9d26a')
			.partners__item(style='background-image: url("img/partners/item-12.jpg")')