section#portfolio.portfolio
	.container.portfolio__container
		+title('Портфолио', 'Но явные признаки победы институционализации представляют собой не что иное, как')
		+filter([{filter: '.category-1', text: 'Категория №1'},
			{filter: '.category-2', text: 'Категория №2'},
			{filter: '.category-3', text: 'Категория №3'},
			{filter: '.category-4', text: 'Категория №4'}], 'portfolio__filter')
	.portfolio__masonry
		.portfolio__masonry-item.category-2
			img(src='img/portfolio/item-1.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-1.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-3
			img(src='img/portfolio/item-2.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-2.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-1
			img(src='img/portfolio/item-3.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-3.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-3
			img(src='img/portfolio/item-5.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-4.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-2
			img(src='img/portfolio/item-4.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-5.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-3
			img(src='img/portfolio/item-6.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-6.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-4
			img(src='img/portfolio/item-7.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-7.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-3
			img(src='img/portfolio/item-8.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-8.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-2
			img(src='img/portfolio/item-9.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-9.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-2
			img(src='img/portfolio/item-11.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-10.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-1
			img(src='img/portfolio/item-10.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-11.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')
		.portfolio__masonry-item.category-3
			img(src='img/portfolio/item-12.jpg', alt='')
			.portfolio__hover
				.portfolio__caption
				.portfolio__nav
					a.portfolio__zoom(href='img/portfolio/item-12.jpg', data-fancybox='gallery')
						+icon('zoom')
					+button('Хочу так же', 'button--orange portfolio__btn anchor', '#feedback')