section.reason.trigger
	.container.reason__container
		.reason__img
			img(src='img/reason.jpg', alt='')
		.reason__block(data-color='#b9d26a')
			span.left
			span.top
			span.right
			span.bottom
			+title('Почему с нами выгодно?', 'Но явные признаки победы институционализации представляют собой не что иное, как квинтэссенцию победы ' +
				'маркетинга над разумом и должны быть заблокированы в рамках своих собственных рациональных ограничений. И нет сомнений, что сделанные на базе ' +
				'интернет-аналитики выводы, инициированные исключительно синтетически, в равной степени предоставлены сами себе. В своём стремлении повысить ' +
				'качество жизни, они забывают, что выбранный нами инновационный путь обеспечивает актуальность распределения внутренних резервов и ресурсов. ' +
				'Вот вам яркий пример современных тенденций - начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие ' +
				'в формировании позиций, занимаемых участниками в отношении поставленных задач. Следует отметить, что укрепление и развитие внутренней структуры ' +
				'предоставляет широкие возможности для глубокомысленных рассуждений.', 'reason__title')
