section.services
	.container.services__container
		+title('Услуги', 'Но явные признаки победы институционализации представляют собой не что иное, как ')
		+button('Связаться со мной', 'button--orange services__btn', '#')
		.services__grid
			.services__row.services__row--col-3
				+services-card('Фрезерная резка', 'Воплощаем проекты. От дизайна до <br> готовой продукции с доставкой', 'services__item')
				+services-card('Лазерная резка и гравировка', 'Воплощаем проекты. От дизайна до <br> готовой продукции с доставкой', 'services__item')
				+services-card('Ультрафиолетовая печать', 'Воплощаем проекты. От дизайна до <br> готовой продукции с доставкой', 'services__item')
			.services__row.services__row--col-2
				+services-card('Столярная мастерская', 'Воплощаем проекты. От дизайна до <br> готовой продукции с доставкой', 'services__item')
				+services-card('Широкоформатная и интерьерная печать', 'Воплощаем проекты. От дизайна до <br> готовой продукции с доставкой', 'services__item')
